.shop-nav {
    margin-top: 2rem;
    padding: .5rem 2rem;
    background: #232526;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: .15rem .15rem .25rem #000000;

    @include breakpoint-up(large){
        margin: 0 4rem;
    }

    & h2 {
        text-transform: uppercase;
        color: $white;
        text-shadow: .25rem -.25rem .125rem $mainBackground;
        letter-spacing: 2px;
        text-align: center;

        @include breakpoint-up(large){
            font-size: 3rem;
        }
    }
}

.cart-icon-wrapper {
    display: block;
    margin: 0 1rem;
    cursor: pointer;
    position: relative;    
}

.cart-icon {
    font-size: 3.5rem;
    color: $white;
    filter: drop-shadow($textShadow);
}

.cart-count {
    position: absolute;
    top: -25%;
    right: -30%;
    padding: .3rem .6rem;
    border-radius: 5rem;
    background: $mainBackground;
    color: $white;
    font-size: 1.5rem;
    font-weight: 600;
}