.main-btn {
    padding: .625rem;
    border: .1rem solid #f5f3f5b3;
    display: inline-block;
    text-transform: uppercase;
    background: $mainBackground;
    border-radius: .625rem;
    transition: all .5s ease-in-out;
    color: $white;
    font-weight: 900;
    cursor: pointer;

    &:hover {
        color: #191919;
        background: $mainYellow;
        border-color: #f5f3f5b3;
    } 
}