.shop {
    margin: 0 auto;
    width: 100%;
}

.shop-container {
    position: relative;
    height: 100%;
    margin: 0 auto;
    padding: 2rem;
    overflow: hidden;
}

.product-list {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
}