.slider {
    width: 100vw;
    height: 100vh;
    padding: 2rem 1rem;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 2%;
        background: $mainYellow;
        clip-path: polygon(10% 3%, 90% 5%, 80% 80%, 0% 74%);
        z-index: -99;
    }

    @include breakpoint-up(medium){
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 2%;
            background: $mainYellow;
            clip-path: polygon(51% 0, 88% 26%, 70% 85%, 0 34%);
            z-index: -99;
        }
    }

    @include breakpoint-up(large) {
        padding-top: 3rem;
    }

    & h2 {
        text-align: center;
        margin: 1rem;
        text-transform: uppercase;
        color: $mainGray;

        @include breakpoint-up(large){
            margin-bottom: 2rem;
        }
    }
}

.slider-wrapper {
    background-color: rgba(255, 255, 255, .3);  
    backdrop-filter: blur(5px);
    margin: auto;
    padding: 1rem 2rem;
    max-width: 20rem;
    height: 60vh;
    text-align: center;
    box-shadow: .25rem .25rem .5rem black;
    border-radius: .6rem;
    position: relative;
    overflow: hidden;

    @include breakpoint-up(large){
        max-width: 30rem;
    }
}

.slide {
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s linear;

    &.active-slide {
        opacity: 1;
        transform: translateX(0);
    }

    &.prev-slide {
        transform: translateX(-100%);
    }

    &.next-slide {
        transform: translateX(100%);
    }

    & img {
        border-radius: 50%;
        width: 10rem;
        height: 10rem;
        object-fit: cover;
        border: 3px solid #f5f3f5b3;
        box-shadow: 0 5px 15px rgba($black, 0.2);
    }

    & h3 {
        color: $mainGray;
        line-height: 1.5;
        margin-bottom: 0.25rem;
    }

    .title {
        text-transform: capitalize;
        margin-bottom: 0.75rem;
        color: $mainGray;
        font-weight: bold;
    }

    .text {
        max-width: 16rem;
        margin: 0 auto;
        color: $mainGray;
        font-size: 1rem;
        font-style: italic;
        line-height: 1.5rem;
    }
}

.prev-btn, .next-btn {
    position: absolute;
    bottom: 0%;
    background: transparent;
    color: $mainGray;
    border: none;
    outline: none;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all 0.3s linear;
}

.prev-btn {
    left: 30%;
    top: 65%;
    &:focus {
        outline: none;
    }
    @include breakpoint-up(large){
        top:0%;
        left: 10%;
    }
}

.next-btn {
    right: 30%;
    top: 65%;
    &:focus {
        outline: none;
    }
    @include breakpoint-up(large){
        top: 0%;
        right: 10%;
    }
}